<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>This is my h1 with my file my server is answering with</h1>
    <h2><%= 5 + 14%></h2>
    <h2><%= rand %></h2>
    <% if(rand > .5){ %>
        <h2>rand is greater than .5 </h2>
    <% } else { %>
        <h2>rand is less than .5</h2>
    <% } %>
</body>
</html>